body {    /* corpo principal da pagina */
    margin: auto; 
    background-color: #b6b4b4; 
}

.menu {         /*estilo dos links das paginas no topo da pagina */
    background-color: #8f8f8f; 
    padding: 10px;
    display: flex; /* Usado para alinhar os itens horizontalmente */
    justify-content: center; 
    gap: 100px; /* Espaçamento entre os links */

}


.botao {                 /*botoes de links do topo da pagina*/
    cursor: pointer;
    transition: all 0.2s ease;
    transform: translateY(5px);
    box-shadow: 0px 3px 0px #1a466d, 0px 4px 6px rgba(5, 83, 138, 0.2);
}

.botao {
    justify-content: center;
    font-size: larger;
    display: flex; 
    padding: 10px 20px; 
    color: rgb(203, 197, 197);
    background-color:black;
    border: none; 
    border-radius: 5px; 
    text-decoration: none; 
    transition: background-color 0.3s; 
}

.botao:hover {
    background-color:  #0f4682; 
}


section h1{      /*Texto central da pagina*/
    text-align: center;
    text-align:justify;
    
}



h1 {
    padding: 140px;
    padding-top: 210px;
    margin: 0;
    font-size: 40px; 
    color: black; 
    font-weight: bold; 
}


h1 span{
    color: #3097f2;
   
}


section p.paragrafo{      /*paragrafo encima do rodapé*/
    font-size: 100%;
    text-align: justify; 
    border: 2px solid #8f8f8f; 
    padding:auto; 
    margin:0; 
    margin-top: 100px;
    background-color:#8f8f8f ;
    color: rgb(203, 197, 197);

}



.lista {        /*listas de especificações de serviço*/
    font-size: 50px;
    list-style-type: none;
    padding: auto;
    padding-top: 80px;
    margin: auto;
    width: 500px;
    text-align: center;
    margin-left: auto;
    margin-right: 20px; 
    
}

.lista li {
    background-color:#8f8f8f;
    color: rgb(203, 197, 197);
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    transition: background-color 0.3s ease;
    cursor: pointer;
    box-shadow: 0px 3px 0px #1a466d, 0px 4px 6px rgba(5, 83, 138, 0.2);
}

.lista li:hover {
    background-color: #072442;
}

footer {        /*rodapé com links*/
    
    background-color: #8f8f8f; 
    padding: 20px; 
    margin-top: 100px;
    text-align: center; 
}

footer p {
    margin: 0; 
    font-size: 16px; 
}

footer a {
    color: #ffffff; 
    text-decoration: none; 
    margin: 0 10px; 
    display: inline-flex; 
    align-items: center; 
}

footer a:hover{
    background-color:  #0f4682;
}



